div.container {
  position: relative;

  width: 60%;
  min-height: 30vh;

  margin-top: 1.5rem;
  margin-inline: auto;

  display: flex;
  flex-direction: column;
}

div.container a.button {
  position: absolute;
  bottom: -5rem;
  left: 50%;

  transform: translateX(-50%);

  background: #FF5353;
  color: #FFFFFF;

  text-align: center;
  text-decoration: none;

  border: none;
  padding: 0.8rem;

  min-width: 15rem;

  border-radius: 15px;

  font-weight: 800;
  font-size: 1.2rem;

  transition: all 0.1s ease-in-out;
}

div.container a.button:hover {
  scale: 1.1;
  cursor: pointer;
}
